<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betterda.shopping">

    <!--读取联系人权限,危险-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".productdetails.ProductDetailActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".bus.BusActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".order.OrderComfirmActivity">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".address.AddAddressActivity">
        </activity>

    </application>

</manifest>