<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betterda.shopping">

    <!--读取联系人权限,危险-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--危险权限,拍照和写存储-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--拍照和定位需要-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--百度地图服务-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位--> <!--敏感权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位--> <!--敏感权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据--> <!--敏感权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!--友盟-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4AD6iSK8q9XB7vwVHHFWkw6egj2iTIwP" />

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:name=".welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name=".home.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".productdetails.ProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".bus.BusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderComfirmActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".address.AddAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".comment.CommentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".pay.PayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".address.EditAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".address.AddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".information.InformationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".information.NameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.WalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.CashWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.XiaoFeiWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.MingXiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.LiJiTuijianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.MyTuijianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuijian.TuiJianFanxianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".findpwd.FindPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".location.LocationActivity"
            android:screenOrientation="portrait"></activity>
     <activity
            android:name=".wallet.MyYinHangKaActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.AddBankCardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wallet.TiXianActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ziti.ZiTiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ziti.EweiMaActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".message.MeassageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".comment.AddCommentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".order.OrderActivity2"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".pay.JsActivity"
            android:screenOrientation="portrait"></activity>

        <!--JPUSH-->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />

                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="com.betterda.shopping" />
            </intent-filter>
        </receiver>

        <!--百度地图服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">

        </service>

        <!--新浪微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101375552" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

    <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="585c7e6404e20542ec001d04" >
        </meta-data>

    </application>

</manifest>